[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "bcrembedder"
version = "0.1.0"
description = "Python package to create embeddings of BCR amino acid sequences.."
readme = "README.rst"
authors = [
  {name = "Mamie Wang", email = "mamie.wang@yale.edu"}
]
maintainers = [
  {name = "Mamie Wang", email = "mamie.wang@yale.edu"}
]
classifiers = [

]
license = {text = "MIT license"}
dependencies = [
  
]

[project.optional-dependencies]
dev = [
    "coverage",  # testing
    "mypy",  # linting
    "pytest",  # testing
    "ruff"  # linting
]

[project.urls]

bugs = "https://github.com/Mamie/bcrembedder/issues"
changelog = "https://github.com/Mamie/bcrembedder/blob/master/changelog.md"
homepage = "https://github.com/Mamie/bcrembedder"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.package-data]
"*" = ["*.*"]




# Mypy
# ----

[tool.mypy]
files = "."

# Use strict defaults
strict = true
warn_unreachable = true
warn_no_return = true

[[tool.mypy.overrides]]
# Don't require test functions to include types
module = "tests.*"
allow_untyped_defs = true
disable_error_code = "attr-defined"

