# In order to use Immune2Vec
# Prerequisites: python3.* with gensim package version 3.8.3 installed (use "python3 -m pip install gensim==3.8.3") and ray package installed (use "pip3 install ray")
numpy
pandas
torch
transformers
typer
antiberty
ablang
rjieba
pre-commit
protobuf
sentencepiece
pytest-workflow>=1.6.0
pytest>=7.0.0
gensim==3.8.3
ray
